{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div>
    <div>
        <div>
            <h2>Register</h2>
        </div>
        <form method="post">
            {{ form_start(form) }}
            <div>
                <div>
                    {{ form_row(form.firstName) }}
                </div>
                <div>
                    {{ form_row(form.lastName) }}
                </div>
                <div>
                    {{ form_row(form.email) }}
                </div>
                <div>
                    {{ form_row(form.password.first) }}
                </div>
                <div>
                    {{ form_row(form.password.second) }}
                </div>
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
            {{ form_end(form) }}
        </form>
    </div>
</div>
{% endblock %}